.location-container {
  margin-top: 35px;
}

.location-title {
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 0;
  margin-bottom: 15px;
}

.location-list {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  list-style-type: none;
}
